

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(135deg, #74baeb, #3250d4);
}

.container{
    background: white;
    padding: 40px 50px;
    border-radius: 25px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

h1{
    margin-bottom: 25px;
    color: #222;
}

h4{
    margin-bottom: 20px;
    color: #555;
    font-weight: normal;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition:all 0.25s ease;
    background: linear-gradient(135deg, #0c8cff, #005bea);
    color: white;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #42a5ff, #0c8cff);
}

button:active {
  transform: translateY(0);
  box-shadow: none;
}
@media (max-width: 400px) {
      .container {
        width: 90%;
        padding: 30px 20px;
      }
    }





